# macOS system files
.DS_Store

# Node.js dependencies (if applicable)
node_modules/

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Images cache or build artifacts (if applicable)
/dist/
/build/

# IDE or editor settings
.vscode/
.idea/

# Directories to ignore:
/61_js_third_party_libraries/
61_js_third_party_libraries
/53_js_self_assessment/
53_js_self_assessment
/54_project04_10hours/
54_project04_10hours
