# macOS system files
.DS_Store

# Node.js dependencies (if applicable)
node_modules/

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Images cache or build artifacts (if applicable)
/dist/
/build/

# IDE or editor settings
.vscode/
.idea/

# Project Repos to ignore
/20_project02_10hours/
/34_project03_15hours/