# React/Node Modules
node_modules/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
log/

# OS-generated
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*.local
.env.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Dependency directories
.pnp/
.pnp.js

# Testing
coverage/
jest-test-results.json

# Optional npm cache directory
.npm/

# Parcel, Vite, Snowpack
.parcel-cache/
.vite/
.snowpack/

# Next.js
.next/
out/

# Storybook
storybook-static/

# Misc
*.tgz
*.log